* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*     outline: solid 1px red;  */
}

:root {
  --header-height: 100px;
  --header-side-panning: 10px;
  --width-for-icon-only: 830px;
}

